

body {
  background-color: #9ed0c9;
}


.logo {
  margin-left:360px;
}

.input input[type=text] {
    font-family: "Segoe UI", Optima, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    margin-left:360px;
    width: 620px;
    box-sizing: initial;
    border: 2px ;
    font-size: 16px;
    background-repeat: repeat-y;
    padding: 12px 20px 12px;
    border-radius: 4px;
    position:absolute;
    box-shadow: 5px 5px 5px #415164;
}

.button {
  font-family: "Segoe UI", Optima, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  border-radius: 4px;
  background-color: white;
  border: none;
  color: #415164;
  text-align: center;
  padding: 20px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
  margin-left:650px;
  margin-top:70px;
}
